.book-description {
    position: relative;
    height: 4rem;
    overflow: hidden;
  }
  
.fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: linear-gradient(to top, white, transparent);
}

.popular-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f59e0b;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.book-card {
    transition: transform 0.3s;
}

.book-card:hover {
    transform: scale(1.05);
}
